<div class="body_block">
    <!--Contact + CV-->
    <div class="body_header">
        <h4>{{localize.localize.contact + '.'}}</h4>
        <span>{{localize.localize.openToDiscussion}}
            <span>{{localize.localize.checkOutMyCV}}
                <a target="_blank" href="assets/files/CV_Yeva_Galstyan.pdf"><span>{{ localize.localize.cv }}</span></a>
                <span>{{ localize.localize.briefInformation }}</span>
            </span>
        </span>
    </div>

    <!--Mail-->
    <div class="info_block">
        <h4>{{localize.localize.contactMe}}</h4>
        <h6>{{localize.localize.contactMeWith}}</h6>
        <div class="info_input">
            <span>{{localize.localize.mail}}</span>
            <img (click)="copyToClipboard(localize.localize.mail, $event)"
                 [matTooltip]="copied" src="assets/images/icons/copy.svg">
        </div>
    </div>
</div>
