<div class="project_block">
    <span routerLink="/work" class="back_navigate">{{localize.work}}</span>
    <div class="project_header">
        <h2>{{info.name}}</h2>
        <div class="project_subtitle">
            <span>{{info.date}}</span>
            <span>•</span>
            <a target="_blank" [href]="info.link">
                <span>{{localize.openProject}}</span>
            </a>
        </div>
    </div>

    <div class="project_body">
        <span>{{info.description}}</span>
        <img src="assets/images/projects/trade.png">
    </div>

</div>

<app-scroll-to-top></app-scroll-to-top>
