.project_block {
  cursor: default;
  display: flex;
  flex-direction: column;
  padding-top: 48px;

  .project_header {
    display: flex;
    flex-direction: column;

    h2 {
      cursor: pointer;
      font-family: "Nunito-Bold Sans";
    }

    span {
      font-family: "Nunito-Light Sans";
      color: var(--gray-500);
    }
  }

  .project_subtitle {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    a span {
      color: var(--purple-500)
    }
  }
}