<div class="project_block">
    <span routerLink="/work" class="back_navigate">{{localize.work}}</span>
    <div class="project_header">
        <h2>{{info.name}}</h2>
        <div class="project_subtitle">
            <span>{{info.date}}</span>
            <span *ngIf="info.link">•</span>
            <a *ngIf="info.link" target="_blank" [href]="info.link">
                <span>{{localize.openProject}}</span>
            </a>
            <span *ngIf="info.github">•</span>
            <a *ngIf="info.github" target="_blank" [href]="info.github">
                <img width="20px" src="../../../../../../assets/images/icons/github-mark.svg">
            </a>
        </div>
    </div>

    <div class="project_body">
        <span>{{info.description}}</span>
        <img *ngFor="let img of info.imgUrls" [src]="'assets/images/projects/' + img">
    </div>
</div>

<app-scroll-to-top></app-scroll-to-top>
