.project_block {
  cursor: default;
  display: flex;
  flex-direction: column;
  padding-top: 48px;

  h2 {
    color: var(--gray-700);
    font-family: "Nunito-Bold Sans";
  }

  span {
    font-family: "Nunito-Light Sans";
  }

  .project_header {
    display: flex;
    flex-direction: column;

    span {
      color: var(--gray-500);
    }
  }

  .project_subtitle {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    a span {
      color: var(--purple-500)
    }
  }

  .project_body {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 32px;

    .project_overview {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    a {
      font-size: 14px;
      color: var(--purple-400);
      text-decoration: underline;
      font-family: "Nunito-Light Sans";
    }

    h4 {
      margin: 0;
      color: var(--gray-700);
      font-family: "Nunito-Bold Sans";
    }

    span {
      color: var(--gray-700);
    }

    img {
      width: 100%;
    }
  }
}


.back_navigate {
  cursor: pointer;
  font-family: "Nunito-Light Sans";
  color: var(--purple-500);
}