<div class="header_block">
    <a routerLink="home">
        <h5>Yeva.</h5>
    </a>

    <div class="header_menu_block">
        <a class="menu_item" routerLink="/work"><span>{{localize.localize.work}}</span></a>
        <a class="menu_item" routerLink="/education"><span>{{localize.localize.education}}</span></a>
        <a class="menu_item" routerLink="/contact"><span>{{localize.localize.contact}}</span></a>
        <!--<a class="menu_item" target="_blank" href="https://dev.to/yevagalstyan"><span>{{localize.localize.dev}}</span></a>-->
<!--        <img width="20" src="assets/images/icons/language.svg">-->
    </div>
</div>