<div class="header_block">
    <a routerLink="home">
        <h5>Yeva.</h5>
    </a>

    <div class="header_menu_block">
        <a class="menu_item" routerLink="/work"><span>{{localize.localize.work}}</span></a>
        <a class="menu_item" routerLink="/education"><span>{{localize.localize.education}}</span></a>
        <a class="menu_item" routerLinkActive="menu_item_active" routerLink="/memberships"><span>{{localize.localize.contact}}</span></a>
<!--        <a class="header_cv" target="_blank" href="assets/files/CV_Yeva_Galstyan.pdf">-->
<!--            <span>{{localize.localize.cv}}</span>-->
<!--        </a>-->
    </div>
</div>