h1, h2, h3, h4, h6, span, p {
  font-family: "Nunito-Medium Sans";
  font-weight: 600;
}

h5 {
  font-family: "Nunito-Bold Sans";
}

.header_block {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-700);
}

.header_menu_block {
  display: flex;
  align-items: center;
  gap: 8px;

  .menu_item {
    padding: 10px 12px;

  }
}

.header_cv {
  margin-right: 5px;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}