.card_item {
  width: 100%;
  display: flex;
  flex-direction: column;

  .card_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--gray-50);
    padding: 12px;
    border-radius: 6px;

    .card_header {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    .card_links {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a span {
      color: var(--purple-500)
    }

    h6 {
      color: var(--gray-700);
      font-family: "Nunito-Bold Sans";
    }

    span {
      color: var(--gray-500);
      font-family: "Nunito-Light Sans";
    }
  }
}

img {
  cursor: pointer;
}