<div class="body_block">
    <!--Contact + CV-->
    <div class="body_header_block">
        <div class="body_header">
            <h2>{{localize.localize.IAmYevaGalstyan}}</h2>
            <h6>{{localize.localize.myOccupation}}
                <h6>{{localize.localize.workplace}}
                    <a target="_blank" href="https://www.linkedin.com/company/insourceam/mycompany/">
                        <h6>{{ localize.localize.inSource }}</h6>
                    </a>
                    <h6>{{ localize.localize.myPosition }}</h6>
                    <h6>{{ localize.localize.alsoWorking }}</h6>
                    <a routerLink="/work"><h6>{{ localize.localize.projects + '.'}}</h6></a>
                </h6>
            </h6>

            <div class="link_block">
                <!-- LinkedIn -->
                <a class="linkedIn_link" target="_blank" href="https://www.linkedin.com/in/yeva-galstyan/">
                    <span>{{ localize.localize.linkedin }}</span>
                </a>

                <!-- Github -->
                <a class="github_link" target="_blank" href="https://github.com/YevaGalstyan">
                    <span>{{ localize.localize.github }}</span>
                </a>

                <!-- Cv -->
                <a target="_blank" href="assets/files/CV_Yeva_Galstyan.pdf">
                    <span>{{ localize.localize.cv }}</span>
                </a>
            </div>
        </div>

        <div class="personal_img">
            <img width="224" src="assets/images/personal/germanyImage.JPG">
        </div>
    </div>

    <!--    &lt;!&ndash;Mail&ndash;&gt;-->
    <!--    <div class="info_block">-->
    <!--        <h4>{{localize.localize.contactMe}}</h4>-->
    <!--        <h6>{{localize.localize.contactMeWith}}</h6>-->
    <!--    </div>-->
</div>
