.body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main_block {
  width: var(--body-width);
  display: flex;
  flex-direction: column;
}

.main_section {
  padding: 64px 0 56px;
  display: flex;
  flex: 1;
}