<div class="body_block">

    <!--General info-->
    <div class="body_header_block">
        <div *ngIf="generalService.isMobile" class="personal_img">
            <img width="224" src="../../../../../assets/images/personal/germanyImageMobile.JPG">
        </div>

        <div class="body_header">
            <h2>{{localize.localize.IAmYevaGalstyan}}</h2>
            <h6>{{localize.localize.myOccupation}}
                <h6>{{localize.localize.workplace}}
                    <a target="_blank" href="https://www.linkedin.com/company/insourceam/mycompany/">
                        <h6>{{ localize.localize.inSource }}</h6>
                    </a>
                    <h6>{{ localize.localize.myPosition }}</h6>
                    <h6>{{ localize.localize.alsoWorking }}</h6>
                    <a routerLink="/work"><h6>{{ localize.localize.projects + '.'}}</h6></a>
                </h6>
            </h6>

            <div class="link_block">
                <!-- LinkedIn -->
                <a class="linkedIn_link" target="_blank" href="https://www.linkedin.com/in/yeva-galstyan/">
                    <span>{{ localize.localize.linkedin }}</span>
                </a>

                <!-- Github -->
                <a class="github_link" target="_blank" href="https://github.com/YevaGalstyan">
                    <span>{{ localize.localize.github }}</span>
                </a>

                <!-- Cv -->
                <a target="_blank" href="../../../../../assets/files/CV_Yeva_Galstyan.pdf">
                    <span>{{ localize.localize.cv }}</span>
                </a>
            </div>
        </div>

        <div *ngIf="!generalService.isMobile" class="personal_img">
            <img width="224" src="../../../../../assets/images/personal/germanyImage.JPG">
        </div>

    </div>

    <!--Professional experience -->
    <div style="margin-top: 20px" class="body_block">
        <!--Professional Experience-->
        <div class="body_header">
            <h4>{{localize.localize.currentPosition}}</h4>
            <span>{{localize.localize.proceedToWorkPage}}
                <a routerLink="/work"><span>{{localize.localize.work}}</span></a>
                <span>{{localize.localize.toGainInformation}}</span>
            </span>
        </div>


        <app-position-item
                *ngFor="let position of dataService.positions | slice: 0: 1"
                [position]="position">
        </app-position-item>
    </div>

    <!--Recent project-->
    <div style="margin-top: 20px" class="body_block">
        <div class="body_header">
            <h4 style="text-transform: capitalize">{{localize.localize.recentProject}}</h4>
            <span>{{localize.localize.recentProjectList}}</span>
        </div>

        <div class="card_block">
            <app-card
                    *ngFor="let item of dataService.projectsDetails | slice:0:1; let i=index"
                    (cardClicked)="generalService.navigate('work/' + (i+1))"
                    [imgUrl]="item.outerImgUrl"
                    [cardHeader]="item.cardHeader"
                    [cardInfo]="item.cardInfo">
            </app-card>
        </div>
    </div>

    <!--Reviews-->
    <div  style="margin-top: 20px" class="body_block">
        <div class="body_header">
            <h4>{{localize.localize.feedbacks}}</h4>
        </div>

        <app-feedbacks [feedbacks]="dataService.feedbacks"></app-feedbacks>
    </div>
</div>

<app-scroll-to-top></app-scroll-to-top>
