<div class="body_block">
    <!--Professional Experience-->
    <div class="body_header">
        <h4>{{localize.localize.professionalExperience}}</h4>
        <span>{{localize.localize.workExperience}}
            <a (click)="generalService.scrollPage(700)"><span>{{ localize.localize.independentProject + ':' }}</span></a>
        </span>
    </div>

    <app-position-item
            *ngFor="let position of dataService.positions"
            [position]="position">
    </app-position-item>

    <div class="body_block">
        <!--Mini jobs and internships-->
        <div class="body_header">
            <h4 style="text-transform: capitalize">{{localize.localize.miniJobInternship}}</h4>
            <span>{{localize.localize.miniJobDescription}}</span>
        </div>

        <app-membership-item
                *ngFor="let internship of dataService.internships"
                [membership]="internship">
        </app-membership-item>
    </div>

    <div class="body_block">
        <!--Independent projects-->
        <div class="body_header">
            <h4 style="text-transform: capitalize">{{localize.localize.independentProject}}</h4>
            <span>{{localize.localize.projectContributions}}</span>
        </div>

        <div class="card_block">
            <app-card *ngFor="let item of dataService.projectsDetails; let i=index"
                    (cardClicked)="generalService.navigate('work/' + (i+1));"
                    [card]="item">
            </app-card>
        </div>
    </div>
</div>

<app-scroll-to-top></app-scroll-to-top>