@import "src/assets/styles/general";
@import "src/assets/styles/common";
@import "src/assets/styles/desktop";

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Nunito-Light Sans;
  src: local('Nunito-Light'), url(assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Light.ttf) format('truetype');
}

@font-face {
  font-family: Nunito-Regular Sans;
  src: local('Nunito-Regular'), url(assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Nunito-Medium Sans;
  src: local('Nunito-Medium'), url(assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Nunito-Bold Sans;
  src: local('Nunito-Bold'), url(assets/fonts/Nunito_Sans/static/NunitoSans_7pt-Bold.ttf) format('truetype');
}
