.body_block {
  display: flex;
  flex-direction: column;
}

.body_header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .body_info {
    display: flex;

  }

  h4 {
    font-family: "Nunito-Medium Sans";
  }

  span {
    font-family: "Nunito-Light Sans";
  }

  a {
    color: var(--purple-500);
  }
}