.body_block {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  cursor: default;
}

.body_header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .body_info {
    display: flex;

  }

  h2, h4, h5 {
    font-family: "Nunito-Medium Sans";
  }

  span, h6 {
    font-family: "Nunito-Light Sans";
  }

  a {
    cursor: pointer;
    color: var(--purple-500);
  }
}

.info_block {
  padding: 24px;
  border-radius: 6px;
  margin: 24px 0 0;
  background-color: var(--gray-50);
  display: flex;
  flex-direction: column;
  gap: 12px;

  h4 {
    font-family: "Nunito-Medium Sans";
  }

  h5, h6, span {
    font-family: "Nunito-Light Sans";
  }
}

.info_header_block {
  .info_header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  .info_subheader {
    display: flex;
    gap: 15px;
    align-items: baseline;

    span {
      color: var(--gray-600);
    }
  }

  h5 {
    color: var(--purple-500);
    cursor: pointer;
  }
}


.info_input {
  background-color: var(--gray-100);
  padding: 6px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  cursor: default;

  img {
    cursor: pointer;
  }

  span {
    color: var(--gray-600);
  }
}

.tag_block {
  margin-top: 15px;
  display: flex;
  gap: 8px;

  .tag_item {
    border-radius: 20px;
    background-color: var(--purple-400);
    color: var(--main-white);
    padding: 4px 12px;

    span {
      line-height: normal;
    }
  }
}

.location {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.card_block {
  padding: 24px 0 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

