<div class="footer_main_block">
    <div class="footer_menu">
        <div class="footer_menu_block">
            <!--Home-->
            <a routerLinkActive="menu_item_active" routerLink="/home">
                <span>{{localize.localize.home}}</span>
            </a>

            <!--Work-->
            <a routerLinkActive="menu_item_active" routerLink="/work">
                <span>{{localize.localize.work}}</span>
            </a>

            <!--Education-->
            <a routerLinkActive="menu_item_active" routerLink="/education">
                <span>{{localize.localize.education}}</span>
            </a>
        </div>

        <div class="footer_menu_block">
            <!--LinkedIn-->
            <a target="_blank" href="https://www.linkedin.com/in/yeva-galstyan/">
                <span>{{localize.localize.github}}</span>
            </a>

            <!--GitHub-->
            <a target="_blank" href="https://github.com/YevaGalstyan">
                <span>{{localize.localize.linkedin}}</span>
            </a>

            <!--Telegram-->
            <a target="_blank" href="https://t.me/yevagalstyan">
                <span>{{localize.localize.telegram}}</span>
            </a>
        </div>

        <div class="footer_menu_block">
            <!--Memberships-->
            <a routerLinkActive="menu_item_active" routerLink="/memberships">
                <span>{{localize.localize.membership}}</span>
            </a>

            <!--Contact-->
            <a routerLinkActive="menu_item_active" routerLink="/contact">
                <span>{{localize.localize.contact}}</span>
            </a>

            <!--Colophon-->
            <a routerLinkActive="menu_item_active" routerLink="/colophon">
                <span>{{localize.localize.colophon}}</span>
            </a>
        </div>
    </div>
    <div class="all_rights">
        <span>{{localize.localize.at}}</span>
        <span class="current_year">{{localize.localize.currentYear}}</span>
        <span>{{localize.localize.yevaGalstyan}}</span>
    </div>
</div>